﻿@model IEnumerable<Bookshop.Models.Genre>

@{
    ViewData["Title"] = "IndexGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Genre</h1>
<p>
    <a asp-action="Catalog">Catalog</a> /

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditGenre" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
