﻿
@{
    ViewData["Title"] = "UserNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Not Found</h1>

<p>Wrong username or password. Please try again or sign in if you are not registered.</p>

<p>
    <a asp-action="Create">Sign in</a> /
    <a asp-controller="Home" asp-action="Administrator">Try again</a> /
    <a asp-controller="Home" asp-action="Login">Choose different user</a> /
</p>

