﻿
@{
    ViewData["Title"] = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Author</h1>

<form asp-controller="Authors" asp-action="Index" method="get">
    <p>
        username: <input type="text" name="username">
        password: <input type="text" name="password">
        <input type="submit" value="Login" />
    </p>
</form>
<div>
    <a asp-controller="Authors" asp-action="Create">Sign in</a> \
    <a asp-action="Login">Back</a>
</div>
