﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login - Type of account</h1>

<div>
    <a asp-action="Administrator">
        <input type="button" class="btn btn-primary" value="Administrator" />
    </a>
    <a asp-action="Publisher">
        <input type="button" class="btn btn-primary" value="Publisher" />
    </a>
    <a asp-action="Author">
        <input type="button" class="btn btn-primary" value="Author" />
    </a>
    <a asp-action="Costumer">
        <input type="button" class="btn btn-primary" value="Costumer" />
    </a>
</div>

