﻿@model Bookshop.Models.OrderCostumer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>

<h4> @ViewData["BookTitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Book" class="form-control" value=@ViewData["idBook"] hidden />

            <input asp-for="Costumer" class="form-control" value=@ViewData["id"] hidden />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <input asp-for="Id" class="form-control" value=@ViewData["idOrder"] hidden />
            <input asp-for="Purchased" class="form-control" value="0" hidden />

            <div class="form-group">
                <input type="submit" value="Add to cart" class="btn btn-primary" asp-route-userId=@ViewData["id"] />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Catalog</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
