﻿@model Bookshop.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cover
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.CoverImage" height="200" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Rating:
        </dt>
        <dd class="col-sm-10">
            @ViewData["Rating"]
        </dd>
        <dt class="col-sm-2">
            Vote: 
        </dt>
        <dd  class="col-sm-10">
            <form asp-action="DetailsBook">
                <input type="number" name="rate" />
                <input type="submit" value="Vote"  asp-route-userId=@ViewData["id"] asp-route-id=@ViewData["bookId"]/>
            </form>

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Rating Goodreads
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RatingGoodreads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorNavigation.Username)
        </dd>
        <dt class="col-sm-2">
            Genre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenreNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Publisher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublisherNavigation.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Catalog</a>
</div>
