﻿@model IEnumerable<Bookshop.Models.OrderCostumer>

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookNavigation.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookNavigation.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="EditOrder" asp-route-id="@item.Id" asp-route-idBook=@item.BookNavigation.Id asp-route-bookTitle=@item.BookNavigation.Title asp-route-userId=@ViewData["id"]>Edit</a> |
                <a asp-action="DeleteOrder" asp-route-id="@item.Id" asp-route-bookTitle=@item.BookNavigation.Title asp-route-userId=@ViewData["id"]>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <p>Total Price: @ViewData["Price"]</p>
</div>
<a asp-action="Purchase" asp-route-id=@ViewData["id"]>
    <input type="button" class="btn btn-primary" value="Purchase"  />
</a>
<div>
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Catalog</a>
</div>
