﻿@model IEnumerable<Bookshop.Models.Book>

@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalog</h1>


<p>
    <a asp-action="CreateBook" asp-route-id=@ViewData["id"]>Add Book</a> |
    <a asp-action="MyBooks" asp-route-id=@ViewData["id"]>My Books</a> |
    <a asp-action="Orders" asp-route-id=@ViewData["id"]>My Cart</a> |
    <a asp-action="MyOrders" asp-route-id=@ViewData["id"]>My Orders</a>
</p>
<form asp-action="Catalog" asp-route-id=@ViewData["id"] method="get">
    <div class="col-md-4">
        Title: <input type="text" name="titleSearch" value="@ViewData["titleSearch"]" />
    </div>
    <div class="col-md-4">
        Author: <input type="text" name="author" value="@ViewData["author"]" />
    </div>
    <div class="col-md-4">
        Genre: <input type="text" name="genre" value="@ViewData["genre"]" />
    </div>
    <input type="submit" value="Search" class="btn btn-default" /> |
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Back to Full List</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Rating Goodreads
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Author
            </th>
            <th>
                Genre
            </th>
            <th>
                Publisher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.CoverImage" height="120"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingGoodreads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorNavigation.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherNavigation.Username)
                </td>
                <td>
                    <a asp-action="DetailsBook" asp-route-id="@item.Id" asp-route-userId=@ViewData["id"]>Details</a> | 
                    <a asp-action="CreateOrder" asp-route-id=@ViewData["id"] asp-route-idBook=@item.Id asp-route-bookTitle=@item.Title>Add to cart</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
