﻿@model Bookshop.Models.OrderAuthor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Order - @ViewData["BookTitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book" />

            <input type="hidden" asp-for="Author" />

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Purchased" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" asp-route-userId=@ViewData["id"] />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Catalog</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
