﻿@model IEnumerable<Bookshop.Models.Book>

@{
    ViewData["Title"] = "MyBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Books</h1>

<p>
    <a asp-action="CreateBook" asp-route-id=@ViewData["id"]>Create New</a> |
    <a asp-action="Catalog" asp-route-id=@ViewData["id"]>Catalog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Rating Goodreads
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Author
            </th>
            <th>
                Genre
            </th>
            <th>
                Publisher
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.CoverImage" height="120" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingGoodreads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorNavigation.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherNavigation.Username)
                </td>
                <td>
                    <a asp-action="EditBook" asp-route-id="@item.Id" asp-route-userId=@ViewData["id"]>Edit</a> |
                    <a asp-action="DetailsBook" asp-route-id="@item.Id" asp-route-userId=@ViewData["id"]>Details</a> |
                    <a asp-action="DeleteBook" asp-route-id="@item.Id" asp-route-userId=@ViewData["id"]>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
